.settings{
    &__language{
        background-color: transparent;
        border: none;
        font-size: 18px;
        outline: none;
    }
    &__select{
        transform: translateY(-6px);
        
    }
}