.oneItem{
    &__comment{
        &--hide{
            height: 0 !important;
            overflow: hidden !important;
            // opacity: 0 !important;
            transition: 0s !important;
        }
    }
}





@media screen and (max-width:700px) {
    .oneCollection{
        &__wrapper{
            flex-direction: column !important;
        }
        &__left,&__right{
            width: 100% !important;
            max-width: 100%;
            padding: 0 !important;
        }
        &__list{
            height: unset;
            overflow: unset;
        }
    }    
}